@CHARSET "UTF-8";
/*
 *  Used to hide the submit button created and used in AHAH forms.
 */
#leaguesite_hidden_submit{
    display:none;
}

#leaguesite_match_time{

}

#leaguesite_home_team_scoring_header{
  font-weight:bold;
}
  
#leaguesite_home_team_scoring_details{

}

#leaguesite_away_team_scoring_header{
  font-weight:bold;
}
  
#leaguesite_away_team_scoring_details{

}